.theme-switch {
	width: 60px;
	height: 35px;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 5px;

	display: flex;
	align-items: center;
	justify-content: center;

	transition-property: background-color, color, border-color;
	transition-duration: 0.15s, 0.15s, 0.15s;

	&:hover {
		background-color: var(--primary-color);
		color: var(--main-color);
	}

	&:active {
		background-color: var(--secondary-color);
		border-color: var(--secondary-color);
	}
}
