.footer {
	width: 100%;
	padding: 0 20px;
	border-top: 2.5px solid var(--add-color);
	background-color: var(--main-color);

	transition:
		background-color 0.15s,
		border-color 0.15s;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 50px 0 25px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px 0;
}

.copyright {
	font-size: 1.2rem;
}

.go_up-btn {
	font-size: 1.15rem;
	color: var(--text-color);
	text-decoration: underline !important;

	transition-property: color, opacity, translate;
	transition-duration: 0.2s, 0.15s, 0.15s;

	&:hover {
		color: var(--primary-color);
	}

	&:active {
		opacity: 0.85;
		translate: 0 2px;
	}
}
