.header {
	width: 100%;
	height: 82px;
	padding: 0 20px;
	border-bottom: 2.5px solid var(--add-color);
	background-color: var(--main-color);

	position: sticky;
	left: 0;
	top: 0;
	z-index: 10;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 10px 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	display: flex;
	align-items: center;
	gap: 0 10px;

	a {
		display: contents;
	}

	img {
		height: 62px;
		width: auto;
	}

	span {
		color: var(--accent-color);
		font-family: var(--martian-font);
		font-size: 1.65rem;
		font-weight: 800;
		text-shadow: -2px -1px 0 var(--main-dark-color);
	}
}

.nav {
	display: flex;
	align-items: center;
	gap: 0 15px;
}
