.product-input-container {
	width: 100%;
	position: relative;
}

.product-input {
	width: 100%;
	border: 1px solid var(--text-color);
	border-radius: 5px;
	padding: 5px;

	transition:
		color 0.15s,
		border-color 0.15s;

	&:focus {
		border-color: var(--secondary-color);
	}
}

.product-search-menu {
	position: absolute;
	left: 0;
	bottom: 0;
	translate: 0 100%;
	z-index: 5;
	overflow: hidden;

	width: 100%;
	max-height: 35vh;
	background-color: var(--main-color);
	border: 1px solid var(--add-color);
	padding: 5px;

	display: flex;
	flex-direction: column;
	gap: 3.5px;

	li {
		width: 100%;
	}
}

.hints-error {
	text-align: center;
	font-weight: 600;
	font-size: 1.1rem;
	color: salmon;
}

.hint-btn {
	width: 100%;
	border-radius: 1.5px;
	padding: 1.5px 3.5px;

	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	transition: background-color 0.15s;

	&:hover {
		background-color: var(--add-color);
	}
}

.no-hints-btn {
	width: 100%;
	padding: 3.5px;
	border: 1px dashed var(--add-color);
	border-radius: 1.5px;

	transition:
		background-color 0.15s,
		border-style 0.15s;

	&:hover {
		background-color: var(--add-color);
		border-style: solid;
	}
}
