.notification-card {
	display: flex;
	gap: 0 20px;
	align-items: center;

	padding: 10px;
	border: 2px solid var(--add-color);
	border-radius: 5px;

	transition:
		border-color 0.15s,
		color 0.15s;

	svg {
		font-size: 50px !important;
	}
}

.heading {
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--text-color);

	transition: color 0.15s;
}

.date {
	font-size: 0.85rem;
	opacity: 0.85;
	font-style: italic;
}

.description {
	margin-top: 10px;
}

.delete-btn {
	margin-left: auto;

	transition:
		color 0.2s,
		opacity 0.15s;

	&:hover {
		color: salmon;
	}

	&:active {
		opacity: 0.75;
	}
}
