.link {
	position: relative;
	font-size: 1.15rem;
	color: var(--text-color);

	transition-property: color, opacity, translate;
	transition-duration: 0.2s, 0.15s, 0.15s;

	&::after {
		content: "";

		display: block;
		width: 0;
		height: 2px;
		border-radius: 2.5px;

		position: absolute;
		left: 0;
		bottom: -2px;
		background-color: var(--primary-color);

		transition: width 0.25s;
	}

	&.--active::after {
		width: 100%;
	}

	&:not(.--active):hover {
		color: var(--primary-color);
	}

	&:not(.--active):active {
		opacity: 0.85;
		translate: 0 2px;
	}
}
