.header {
	width: 100%;
	height: 82px;
	padding: 0 20px;
	border-bottom: 2.5px solid var(--add-color);
	background-color: var(--main-color);

	transition:
		background-color 0.15s,
		border-color 0.15s;

	position: sticky;
	left: 0;
	top: 0;
	z-index: 10;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 10px 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	display: flex;
	align-items: center;
	gap: 0 10px;

	a {
		display: contents;
	}

	img {
		height: 62px;
		width: auto;
	}

	span {
		font-family: var(--martian-font);
		font-size: 1.65rem;
		font-weight: 800;
		background: linear-gradient(
			45deg,
			var(--primary-color),
			var(--secondary-color)
		);
		background-clip: text;
		color: transparent;
	}
}

.nav {
	display: flex;
	align-items: center;
	gap: 0 15px;
}

.buttons {
	display: flex;
	gap: 35px;
}
