.header {
	font-size: var(--page-header-fz);
	font-family: var(--martian-font);
	text-align: center;
	color: var(--primary-color);
	text-shadow: 1.15px 1.15px 0 var(--secondary-color);
	margin-bottom: 15px;
}
