.container {
	width: 100%;
	margin: 25px 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.spinner {
	font-size: 50px !important;
	animation: spin 1.2s infinite linear;
	opacity: 0.75;
}

.hint {
	font-family: var(--martian-font);
	font-size: 1.45rem;
	font-weight: 600;
	opacity: 0.75;
}

@keyframes spin {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 360deg;
	}
}
