.error {
	width: fit-content;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.title {
	font-size: var(--page-heading-fz);
	font-family: var(--martian-font);
	font-weight: 800;
	color: salmon;
	animation: blinking 2s infinite ease-in-out;
}

.message {
	font-size: 1.15rem;
}

@keyframes blinking {
	0% {
		text-shadow: none;
	}

	50% {
		text-shadow: 0 0 10px salmon;
	}

	100% {
		text-shadow: none;
	}
}
