.user-info {
	width: max(450px, 50%);
	margin: 0 auto 35px;

	display: flex;
	flex-direction: column;
	align-items: center;

	.inp-with-label {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 15px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__field {
		width: 100%;
		border: 1px solid var(--text-color);
		border-radius: 5px;
		padding: 3.5px;

		transition:
			border-color 0.2s,
			color 0.15s;

		&:focus {
			border-color: var(--secondary-color);
		}

		&:disabled {
			opacity: 0.65;
			cursor: not-allowed;
		}
	}

	&__label {
		transition: color 0.15s;

		&:has(.help) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 3.5px;

			.help {
				width: 1.35rem;
				color: var(--primary-color);
			}
		}
	}
}

.form {
	&-error {
		font-size: 1.1rem;
		font-weight: 600;
		text-align: center;
		color: salmon;
		margin-top: 3.5px;
	}

	&_field-error {
		width: 100%;
		text-align: start;
		margin-top: 1.5px;
		color: salmon;
	}
}

.save_profile-btn {
	font-size: 1.15rem;
	padding: 7.5px 15px;
	border: 3px solid var(--primary-color);
	border-radius: 5px;
	color: var(--main-color);
	background-color: var(--primary-color);
	margin-top: 30px;

	transition-property:
		border-color, background-color, translate, opacity, color;
	transition-duration: 0.2s, 0.2s, 0.15s, 0.15s, 0.15s;

	&:hover {
		border-color: var(--secondary-color);
		background-color: var(--secondary-color);
	}

	&:active {
		translate: 0 2px;
		opacity: 0.75;
	}
}

.logout-btn {
	display: block;
	margin: 0 auto;
	padding: 7.5px 15px;
	border: 1px solid salmon;
	border-radius: 5px;
	color: salmon;

	transition-property: color, background-color, opacity, translate;
	transition-duration: 0.2s, 0.2s, 0.15s, 0.15s;

	&:hover {
		background-color: salmon;
		color: var(--main-color);
	}

	&:active {
		opacity: 0.75;
		translate: 0 2px;
	}
}
