:root {
	--main-light-color: #eaebed;
	--add-light-color: #c9c9c9;

	--main-dark-color: #1c1c1c;
	--add-dark-color: #363636;

	--primary-color: #1eb589;
	--secondary-color: #11998e;

	--main-color: var(--main-light-color);
	--add-color: var(--add-light-color);
	--text-color: var(--main-dark-color);

	/*
		--martian-font
		--roboto-font
	*/

	--page-heading-fz: clamp(1.375rem, 6vw, 1.75rem);
	--sect-heading-fz: clamp(1.25rem, 5vw, 1.56rem);
	--sect-subheading-fz: clamp(1.125rem, 4vw, 1.375rem);
}
