:root {
	--main-light-color: #eaebed;
	--add-light-color: #d9d9d9;

	--main-dark-color: #1c1c1c;
	--add-dark-color: #262626;

	--accent-color: #1eb589;

	--main-color: var(--main-light-color);
	--add-color: var(--add-light-color);
	--text-color: var(--main-dark-color);

	/*
		--martian-font
		--roboto-font
	*/

	--page-header-fz: clamp(22px, 6vw, 28px);
	--sect-header-fz: clamp(20px, 5vw, 25px);
	--sect-subheader-fz: clamp(18px, 4vw, 22px);
}
