/* - Подготовка к стилизации - */

// Сброс дефолтных стилей
@use "reset";

// Переменные
@use "variables";

/* - Глобальные стили - */

body {
	font-size: 16px;
	font-family: var(--roboto-font);

	background-color: var(--main-color);
	color: var(--text-color);
}

.main {
	width: 100%;
	min-height: calc(100vh - 132px);
	margin: 25px 0;
}

.wrapper {
	max-width: 1140px;
	height: auto;
	margin: 0 auto;
}
