/* - Подготовка к стилизации - */

// Сброс дефолтных стилей
@use "reset";

// Переменные
@use "variables";

/* - Глобальные стили - */

body {
	font-size: 16px;
	font-family: var(--roboto-font);

	background-color: var(--main-color);
	color: var(--text-color);
}
